:root {
    --color-panel: rgba(16, 15, 15, 0.4);
}

body {
    margin: 0;
    font-family: sans-serif;
    background: #fbdf3f;
    background: radial-gradient(circle, rgba(251, 223, 63, 1) 0%, rgba(252, 70, 225, 1) 100%);
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container-dashboard {
    display: grid;
    grid-template-columns: 90px minmax(300px, 1200px);
    grid-template-rows: 90px minmax(500px, 700px);

    place-content: center;

    grid-template-areas:
        ". top"
        "side content";

    width: 100vw;
    height: 100svh;

    padding: 1em 2.5em 1em 1em;

    overflow: hidden;
    box-sizing: border-box;

}

.top-bar,
.side-bar {
    grid-area: top;
    place-self: center;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: .5em;

    border-radius: 10em;

    background-color: var(--color-panel);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);

    & input,
    & legend {
        display: none;
    }

    & label {
        display: flex;
        align-items: center;
        justify-content: center;

        min-width: 2.5em;
        height: 2.5em;

        border-radius: 10em;

        color: rgba(255, 255, 255, .75);

        cursor: pointer;

        transition:
            background .2s ease,
            color .2s ease;

        &:hover {
            background: rgba(255, 255, 255, .05);
            color: white;
        }
    }

    & input:checked+label {
        background: white;
        color: #2f2f2f;
        box-shadow:
            0 2px 8px rgba(255, 255, 255, .08);
    }


}

.top-bar {
    width: fit-content;
    height: min-content;

    width: 50%;
}

.side-bar {
    grid-area: side;
    flex-direction: column;

    height: 50%;
}

.content {
    grid-area: content;

    border-radius: 1.5em;

    background-color: var(--color-panel);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);

    min-height: 0;
    min-width: 0;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.workxwork,
.workxgoals,
.workxnerds,
.workxreflection,
.goalsxgoals,
.goalsxnerds,
.goalsxreflection,
.nerdsxnerds,
.nerdsxreflection,
.reflectionxreflection {
    display: none;
}


/* MARK: RADIOBUTTONS VALUES
/* -------- SELECT SECTION --------  */
html:has([value="work"]:checked) {
    --work: true;
}

html:has([value="nerds"]:checked) {
    --nerds: true;
}

html:has([value="goals"]:checked) {
    --goals: true;
}

html:has([value="reflection"]:checked) {
    --reflection: true;
}

/* -------- SELECT 2 SECTIONS --------  */
/* WORK X WORK */
.container-dashboard:has(.top-bar [value="work"]:checked):has(.side-bar [value="work"]:checked),
.container-dashboard:has(.top-bar [value="work"]:checked):has(.side-bar [value="work"]:checked) {
    --workxwork: true;
}

/* WORK X GOALS */
.container-dashboard:has(.top-bar [value="work"]:checked):has(.side-bar [value="goals"]:checked),
.container-dashboard:has(.top-bar [value="goals"]:checked):has(.side-bar [value="work"]:checked) {
    --workxgoals: true;
}

/* WORK X NERDS */
.container-dashboard:has(.top-bar [value="work"]:checked):has(.side-bar [value="nerds"]:checked),
.container-dashboard:has(.top-bar [value="nerds"]:checked):has(.side-bar [value="work"]:checked) {
    --workxnerds: true;
}

/* WORK X REFLECTION */
.container-dashboard:has(.top-bar [value="work"]:checked):has(.side-bar [value="reflection"]:checked),
.container-dashboard:has(.top-bar [value="reflection"]:checked):has(.side-bar [value="work"]:checked) {
    --workxreflection: true;
}

/* GOALS X GOALS */
.container-dashboard:has(.top-bar [value="goals"]:checked):has(.side-bar [value="goals"]:checked),
.container-dashboard:has(.top-bar [value="goals"]:checked):has(.side-bar [value="goals"]:checked) {
    --goalsxgoals: true;
}

/* GOALS X NERDS */
.container-dashboard:has(.top-bar [value="goals"]:checked):has(.side-bar [value="nerds"]:checked),
.container-dashboard:has(.top-bar [value="nerds"]:checked):has(.side-bar [value="goals"]:checked) {
    --goalsxnerds: true;
}

/* GOALS X REFLECTION */
.container-dashboard:has(.top-bar [value="goals"]:checked):has(.side-bar [value="reflection"]:checked),
.container-dashboard:has(.top-bar [value="reflection"]:checked):has(.side-bar [value="goals"]:checked) {
    --goalsxreflection: true;
}

/* NERDS X NERDS */
.container-dashboard:has(.top-bar [value="nerds"]:checked):has(.side-bar [value="nerds"]:checked),
.container-dashboard:has(.top-bar [value="nerds"]:checked):has(.side-bar [value="nerds"]:checked) {
    --nerdsxnerds: true;
}

/* NERDS X REFLECTION */
.container-dashboard:has(.top-bar [value="nerds"]:checked):has(.side-bar [value="reflection"]:checked),
.container-dashboard:has(.top-bar [value="reflection"]:checked):has(.side-bar [value="nerds"]:checked) {
    --nerdsxreflection: true;
}

/* REFLECTION X REFLECTION */
.container-dashboard:has(.top-bar [value="reflection"]:checked):has(.side-bar [value="reflection"]:checked),
.container-dashboard:has(.top-bar [value="reflection"]:checked):has(.side-bar [value="reflection"]:checked) {
    --reflectionxreflection: true;
}




/* MARK: CONTAINER QUERIES
/* ----- WORK X WORK ----- */
@container style(--workxwork:true) {
    .workxwork {
        display: block;

        padding: 1em;

        & .card {
            display: grid;
        }

        & .card-work {
            display: grid;
        }
    }
}

/* ----- WORK X GOALS ----- */
@container style(--workxgoals:true) {
    .workxgoals {
        display: block;

        padding: 1em;

        & .card {
            display: grid;
        }

        & .card-work {
            display: grid;
        }

        & .card-goal {
            display: block;

            grid-column: span 1;

            align-self: start;
            min-height: 15em;
        }
    }
}

/* ----- WORK X NERDS ----- */
@container style(--workxnerds:true) {
    .workxnerds {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(10, 1fr);

        padding: 1em;

        & .card-work {
            display: grid;

            grid-row: span 1;
            grid-column: span 2;
        }

        & .card-nerd {
            display: block;
            grid-column: span 1;
            grid-row: span 2;
        }
    }
}

/* ----- WORK X REFLECTION ----- */
@container style(--workxreflection:true) {
    .workxreflection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(12, 1fr);

        padding: 1em;

        & .card-work {
            display: grid;

            grid-row: span 1;
            grid-column: span 2;
        }

        & .card-reflection {
            display: block;
            grid-column: span 2;
            grid-row: span 2;
        }

        & .reflection-last {
            display: block;
            grid-column: span 2;
            grid-row: span 3;
        }

        @media (width > 1150px) {
            grid-template-rows: repeat(7, 1fr);
        }
    }
}

/* ----- GOALS X GOALS ----- */
@container style(--goalsxgoals:true) {
    .goalsxgoals {
        display: grid;
        padding: 1em;

        & .card-goal {
            display: block;

            grid-column: span 1;
            grid-row: span 1;
        }
    }
}

/* -----GOALS X NERDS ----- */
@container style(--goalsxnerds:true) {
    .goalsxnerds {
        display: grid;
        padding: 1em;

        & .card {
            display: block;
        }

        & .card-nerd {
            display: block;
            grid-column: span 1;
            grid-row: span 2;
        }

        & .card-goal {
            display: block;

            grid-column: span 1;
            grid-row: span 1;
        }
    }
}

/* ----- GOALS X REFLECTION ----- */
@container style(--goalsxreflection:true) {
    .goalsxreflection {
        display: grid;
        padding: 1em;
        grid-template-rows: repeat(6, 1fr);

        & .card-goal {
            display: block;

            grid-column: span 1;
            grid-row: span 1;
        }

        & .reflection-last {
            display: block;
            grid-column: span 2;
            grid-row: span 3;
        }
    }
}

/* ----- NERDS X NERDS ----- */
@container style(--nerdsxnerds:true) {
    .nerdsxnerds {
        display: grid;
        grid-auto-rows: 15em;
        padding: 1em;

        & .card-nerd {
            display: block;
            grid-column: span 1;
            grid-row: span 2;
        }
    }
}

/* ----- NERDS X REFLECTION ----- */
@container style(--nerdsxreflection:true) {
    .nerdsxreflection {
        display: grid;
        grid-auto-rows: 15em;
        padding: 1em;

        & .card-nerd {
            display: block;
            grid-column: span 1;
            grid-row: span 2;
        }

        & .card-reflection {
            display: block;
            grid-column: span 2;
            grid-row: span 2;
        }

        & .reflection-last {
            display: block;
            grid-column: span 2;
            grid-row: span 4;
        }

        @media (width > 1150px) {
            .reflection-last {
                grid-column: span 4;
                grid-row: span 2;
            }
        }
    }
}

/* ----- REFLECTION X REFLECTION ----- */
@container style(--reflectionxreflection:true) {
    .reflectionxreflection {
        display: grid;
        grid-auto-rows: 15em;
        padding: 1em;

        & .card-reflection {
            display: block;
            grid-column: span 2;
            grid-row: span 2;
        }

        & .reflection-last {
            display: block;
            grid-column: span 2;
            grid-row: span 4;
        }
    }
}


.container-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    color: white;

    & p {
        font-weight: 300;
        font-size: 1rem;
    }

    & h2 {
        text-transform: uppercase;
        font-size: 1.4rem;
        margin: 0;
    }
}

.card {
    display: none;

    background-color: lightgrey;
    min-height: 15em;
    border-radius: 10px;
    padding: 1em 2em 1em 1em;
}

.card-work {
    display: none;

    grid-column: span 2;
    max-height: 15em;
    overflow: clip;

    grid-template-areas:
        "iframe   text"
        "iframe   text"
        "iframe   title";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;

    align-items: center;
    column-gap: .5em;

    & h2 {
        grid-area: title;
        align-self: end;
        margin: 0;
    }

    & p {
        align-self: start;
        margin: 0;

        &:nth-of-type(2) {
            margin-top: .75em;
        }
    }

    & .iframe-container {
        grid-area: iframe;
        aspect-ratio: 4 / 3;
        height: 15em;
        width: auto;
        position: relative;
        overflow: hidden;
        border-radius: 6px;

        & iframe {
            width: 1280px;
            height: 960px;
            transform-origin: top left;
        }
    }

    & ul {
        margin: 0;
        padding-left: .8em;
        list-style: disc;
    }
}

.card-goal {
    display: none;
}

.card-nerd {
    display: none;

    & h3 {
        margin: 0;
        font-size: 1rem;
        font-weight: 300;
    }
}

.card-reflection {
    & h3 {
        margin: .5em 0 0 0;
    }

    & p {
        margin-top: .5em;
    }
}



@media (width > 850px) {
    .container-dashboard {
        background-color: aliceblue;
    }

    .container-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}


@media (width > 1150px) {
    .container-dashboard {
        background-color: deeppink;
        padding-right: 5em;
    }

    .container-content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
}