.container-dashboard {
    display: grid;
    place-content: center;

    grid-template-areas:
        "top"
        "side"
        "content";
    gap: .5em;

    width: 100vw;
    height: 100svh;

    padding: 1em;

    overflow: hidden;
    box-sizing: border-box;

    @media (width > 850px) {
        grid-template-areas:
            ".      top"
            "side   content";
        grid-template-columns: 50px minmax(300px, 1200px);
        grid-template-rows: 50px minmax(500px, 700px);
    }

    @media (width > 1150px) {
        padding-right: 2.5em;
    }
}

.top-bar,
.side-bar {
    grid-area: top;
    place-self: center;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: .5em;

    border-radius: 10em;

    background-color: var(--color-panel);
    border: 1px solid var(--color-panel-border);
    backdrop-filter: blur(10px);

    & input,
    & legend {
        display: none;
    }

    & label {
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 10em;

        color: var(--color-text-four);

        cursor: pointer;

        transition:
            background .2s ease,
            color .2s ease;

        & svg {
            fill: var(--color-text-four);
            stroke: none;

            min-width: 1.25em;
            height: 1.25em;
        }

        &:hover {
            background: rgba(255, 255, 255, .05);
            fill: var(--color-text-two);
        }
    }

    & input:checked+label {
        background: var(--color-text-four);
        width: 2.25em;
        aspect-ratio: 1/1;
        box-shadow:
            0 2px 8px rgba(255, 255, 255, .08);

        & svg {
            fill: var(--color-text-two);
        }
    }


}

.top-bar {
    width: fit-content;
    height: min-content;

    width: 80%;

    @media (width > 850px) {
        width: 50%;
    }
}

.side-bar {
    grid-area: side;
    flex-direction: row;

    width: 80%;

    @media (width > 850px) {
        flex-direction: column;
        height: 50%;
        width: 50%;
    }
}

.content {
    grid-area: content;

    border-radius: 1.5em;

    background-color: var(--color-panel);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);

    min-height: 0;
    min-width: 0;
    overflow-y: auto;
}

.workxwork,
.workxgoals,
.workxnerds,
.workxreflection,
.goalsxgoals,
.goalsxnerds,
.goalsxreflection,
.nerdsxnerds,
.nerdsxreflection,
.reflectionxreflection {
    display: none;
}


/* MARK: RADIOBUTTONS VALUES
/* -------- SELECT SECTION --------  */
html:has([value="work"]:checked) {
    --work: true;
}

html:has([value="nerds"]:checked) {
    --nerds: true;
}

html:has([value="goals"]:checked) {
    --goals: true;
}

html:has([value="reflection"]:checked) {
    --reflection: true;
}

/* -------- SELECT 2 SECTIONS --------  */
/* WORK X WORK */
.container-dashboard:has(.top-bar [value="work"]:checked):has(.side-bar [value="work"]:checked),
.container-dashboard:has(.top-bar [value="work"]:checked):has(.side-bar [value="work"]:checked) {
    --workxwork: true;
}

/* WORK X GOALS */
.container-dashboard:has(.top-bar [value="work"]:checked):has(.side-bar [value="goals"]:checked),
.container-dashboard:has(.top-bar [value="goals"]:checked):has(.side-bar [value="work"]:checked) {
    --workxgoals: true;
}

/* WORK X NERDS */
.container-dashboard:has(.top-bar [value="work"]:checked):has(.side-bar [value="nerds"]:checked),
.container-dashboard:has(.top-bar [value="nerds"]:checked):has(.side-bar [value="work"]:checked) {
    --workxnerds: true;
}

/* WORK X REFLECTION */
.container-dashboard:has(.top-bar [value="work"]:checked):has(.side-bar [value="reflection"]:checked),
.container-dashboard:has(.top-bar [value="reflection"]:checked):has(.side-bar [value="work"]:checked) {
    --workxreflection: true;
}

/* GOALS X GOALS */
.container-dashboard:has(.top-bar [value="goals"]:checked):has(.side-bar [value="goals"]:checked),
.container-dashboard:has(.top-bar [value="goals"]:checked):has(.side-bar [value="goals"]:checked) {
    --goalsxgoals: true;
}

/* GOALS X NERDS */
.container-dashboard:has(.top-bar [value="goals"]:checked):has(.side-bar [value="nerds"]:checked),
.container-dashboard:has(.top-bar [value="nerds"]:checked):has(.side-bar [value="goals"]:checked) {
    --goalsxnerds: true;
}

/* GOALS X REFLECTION */
.container-dashboard:has(.top-bar [value="goals"]:checked):has(.side-bar [value="reflection"]:checked),
.container-dashboard:has(.top-bar [value="reflection"]:checked):has(.side-bar [value="goals"]:checked) {
    --goalsxreflection: true;
}

/* NERDS X NERDS */
.container-dashboard:has(.top-bar [value="nerds"]:checked):has(.side-bar [value="nerds"]:checked),
.container-dashboard:has(.top-bar [value="nerds"]:checked):has(.side-bar [value="nerds"]:checked) {
    --nerdsxnerds: true;
}

/* NERDS X REFLECTION */
.container-dashboard:has(.top-bar [value="nerds"]:checked):has(.side-bar [value="reflection"]:checked),
.container-dashboard:has(.top-bar [value="reflection"]:checked):has(.side-bar [value="nerds"]:checked) {
    --nerdsxreflection: true;
}

/* REFLECTION X REFLECTION */
.container-dashboard:has(.top-bar [value="reflection"]:checked):has(.side-bar [value="reflection"]:checked),
.container-dashboard:has(.top-bar [value="reflection"]:checked):has(.side-bar [value="reflection"]:checked) {
    --reflectionxreflection: true;
}




/* MARK: CONTAINER QUERIES
/* ----- WORK X WORK ----- */
@container style(--workxwork:true) {
    .workxwork {
        display: grid;

        padding: 1em;

        & .card {
            display: grid;
        }

        & .card-work {
            display: grid;
        }
    }
}

/* ----- WORK X GOALS ----- */
@container style(--workxgoals:true) {
    .workxgoals {
        display: grid;

        padding: 1em;

        & .card {
            display: grid;
        }

        & .card-work {
            display: grid;
        }

        & .card-goal {
            display: grid;

            align-self: start;
            min-height: 15em;
        }
    }
}

/* ----- WORK X NERDS ----- */
@container style(--workxnerds:true) {
    .workxnerds {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: min-content;

        padding: 1em;

        & .card {
            display: grid;
        }

        & .card-work {
            display: grid;
        }

        & .card-nerd {
            display: grid;
        }

        @media (width > 850px) {
            grid-template-rows: repeat(10, 1fr);
        }
    }
}

/* ----- WORK X REFLECTION ----- */
@container style(--workxreflection:true) {
    .workxreflection {
        display: grid;

        padding: 1em;

        & .card-work {
            display: grid;

            grid-row: span 1;
            grid-column: span 2;
        }

        & .card-reflection {
            display: grid;
        }

        & .reflection-last {
            display: grid;
            grid-column: span 2;
            grid-row: span 3;
        }

        @media (width > 1150px) {
            grid-template-rows: repeat(7, 1fr);
        }
    }
}

/* ----- GOALS X GOALS ----- */
@container style(--goalsxgoals:true) {
    .goalsxgoals {
        display: grid;
        padding: 1em;

        & .card-goal {
            display: grid;
        }
    }
}

/* -----GOALS X NERDS ----- */
@container style(--goalsxnerds:true) {
    .goalsxnerds {
        display: grid;
        padding: 1em;

        /* grid-template-rows: repeat(14, 1fr); */

        & .card-nerd {
            display: grid;
        }

        & .card-goal {
            display: grid;
        }
    }
}

/* ----- GOALS X REFLECTION ----- */
@container style(--goalsxreflection:true) {
    .goalsxreflection {
        display: grid;
        padding: 1em;

        & .card-goal {
            display: block;
        }

        & .reflection-last {
            display: block;
            grid-column: span 2;
            grid-row: span 3;
        }
    }
}

/* ----- NERDS X NERDS ----- */
@container style(--nerdsxnerds:true) {
    .nerdsxnerds {
        display: grid;
        grid-auto-rows: 15em;
        padding: 1em;

        & .card-nerd {
            display: block;
            grid-column: span 1;
            grid-row: span 2;
        }
    }
}

/* ----- NERDS X REFLECTION ----- */
@container style(--nerdsxreflection:true) {
    .nerdsxreflection {
        display: grid;
        grid-auto-rows: 15em;
        padding: 1em;

        & .card-nerd {
            display: block;
            grid-column: span 1;
            grid-row: span 2;
        }

        & .card-reflection {
            display: block;
            grid-column: span 2;
            grid-row: span 2;
        }

        & .reflection-last {
            display: block;
            grid-column: span 2;
            grid-row: span 4;
        }

        @media (width > 1150px) {
            .reflection-last {
                grid-column: span 4;
                grid-row: span 2;
            }
        }
    }
}

/* ----- REFLECTION X REFLECTION ----- */
@container style(--reflectionxreflection:true) {
    .reflectionxreflection {
        display: grid;
        grid-auto-rows: 15em;
        padding: 1em;

        & .card-reflection {
            display: block;
            grid-column: span 2;
            grid-row: span 2;
        }

        & .reflection-last {
            display: block;
            grid-column: span 2;
            grid-row: span 4;
        }
    }
}


.container-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    color: var(--color-text-four);

    & p {
        font-weight: 300;
        font-size: 1rem;
        margin-top: 1em;
    }

    & h2 {
        text-transform: uppercase;
        font-size: 1.4rem;
        margin: 0;
    }
}

.card {
    display: none;

    padding: 1em 2em 1em 1em;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    border-radius: 16px;
    padding: 20px;

    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.15),
        inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

.card-work {
    display: none;

    background: linear-gradient(135deg,
            rgba(255, 20, 147, 0.5),
            rgba(255, 80, 200, 0.5));

    border: 1px solid rgba(255, 120, 200, 0.4);
    box-shadow: 0 0 18px rgba(255, 20, 147, 0.25);

    grid-column: span 2;
    max-height: min-content;
    overflow: clip;

    grid-template-areas:
        "title"
        "iframe"
        "text"
        "em";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr 1fr;

    align-items: center;
    gap: .5em;

    & h2 {
        grid-area: title;
        align-self: end;
        margin: 0;
    }

    & p {
        grid-area: text;
        align-self: start;
        margin: 0;

        &:nth-of-type(2) {
            margin-top: .75em;
        }
    }

    & p:has(em:only-child) {
        grid-area: em;
        align-self: start;
    }

    & .iframe-container {
        grid-area: iframe;

        width: 100%;
        height: auto;
        aspect-ratio: 4 / 3;

        position: relative;
        overflow: hidden;
        border-radius: 6px;

        & iframe {
            width: 1280px;
            height: 960px;
            transform-origin: top left;
        }
    }

    @media (width > 650px) {
        grid-template-areas:
            "iframe     title"
            "iframe     em"
            "text       text";
        grid-template-columns: 1fr 10em;
        grid-template-rows: auto 1fr auto;

        & h2 {
            align-self: start;
        }
    }

    @media (width > 850px) {
        max-height: 18em;

        grid-template-areas:
            "iframe   text"
            "iframe   em"
            "iframe   title";
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;

        & .iframe-container {
            align-self: start;
            aspect-ratio: 4 / 3;
            height: 15em;
            width: calc(15em * 4 / 3);
        }

        & h2 {
            align-self: end;
        }

        & p:has(em:only-child) {
            align-self: start;
        }
    }

    @media (width > 1150px) {
        grid-template-areas:
            "iframe   text"
            "iframe   em"
            "iframe  title";
    }
}

.card-goal {
    display: none;

    grid-column: span 2;
    grid-row: span 1;

    height: auto;

    background: linear-gradient(135deg,
            rgba(255, 230, 0, 0.5),
            rgba(255, 208, 0, 0.5));

    border: 1px solid rgba(255, 245, 120, 0.45);
    box-shadow: 0 0 18px rgba(255, 220, 0, 0.25);

    @media (width > 650px) {
        grid-column: span 1;
    }

    @media (width > 1150px) {
        height: 18em;
    }
}

.card-nerd {
    display: none;

    grid-column: span 2;
    grid-row: span 1;

    background: linear-gradient(135deg,
            rgba(0, 183, 255, 0.5),
            rgba(0, 229, 255, 0.5));

    border: 1px solid rgba(0, 217, 255, 0.4);
    box-shadow: 0 0 18px rgba(0, 217, 255, 0.25);


    & h3 {
        margin: 0;
        font-size: 1rem;
        font-weight: 300;
    }

    @media (width > 850px) {
        grid-column: span 1;
        grid-row: span 2;
    }
}

.card-reflection,
.reflection-last {
    background: linear-gradient(135deg,
            rgba(180, 90, 255, 0.5),
            rgba(90, 40, 255, 0.5));

    border: 1px solid rgba(190, 140, 255, 0.4);
    box-shadow: 0 0 18px rgba(180, 90, 255, 0.25);

    grid-row: span 1;
    grid-column: span 2;

    grid-template-rows: repeat(4, auto) 1fr;

    & h3 {
        margin: 1em 0 0 0;
    }

    & p {
        margin-top: .5em;
    }

    @media (width > 850px) {
        grid-row: span 2;
    }
}

.reflection-last {
    grid-template-rows: repeat(6, auto) 1fr;
}


@media (width < 850px) {
    .goalsxnerds {
        grid-template-rows: none;
        grid-auto-rows: min-content;
    }

    .goalsxnerds .card-goal {
        grid-column: span 2;
    }
}

@media (width > 850px) {
    .container-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}


@media (width > 1150px) {
    .container-dashboard {
        padding-right: 5em;
    }

    .container-content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
}