/* -------- LEARNING GOALS --------  */
@container style(--goals:true) {
    .goals-container {
        position: relative;
    }

    .goals-content {
        position: relative;
        z-index: 1;
    }

    .goals-balls {
        position: absolute;
        top: 0;
        z-index: 2;
        pointer-events: none;
    }

    .goals-ball {
        position: absolute;
        width: 500px;
        aspect-ratio: 1;
        border-radius: 50%;
        mix-blend-mode: multiply;

        transform: translate(calc(var(--x, 0) * 1px + var(--repel-x, 0) * 1px),
                calc(var(--y, 0) * 1px + var(--repel-y, 0) * 1px));

        /* transition: transform 0.08s linear; */


        box-shadow:
            inset 0 0 60px rgba(255, 255, 4, 1),
            inset 0 0 100px rgba(255, 255, 4, 1),
            inset 0 0 180px rgba(255, 255, 4, 0.8);

        /*   filter: blur(1px); */

        z-index: 10;
    }

    .goals-y {
        padding: 2em 1.5em;
        width: 100vw;
        height: 30svh;

        @media (width > 500px) {
            display: flex;
            gap: 3em;
            align-items: center;
        }

        & h2 {
            text-transform: uppercase;
            font-size: clamp(4em, 12vw, 8em);
            white-space: nowrap;
            font-family: 'DM Sans', Arial, Helvetica, sans-serif;
        }
    }

    .goals-one,
    .goals-three {
        background-color: #A7A8AD;
        color: #292929;
    }

    .goals-two {
        background-color: #292929;
        color: #A7A8AD;
        flex-direction: row-reverse;
    }
}