*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

/* ---------------- */
/* MARK: Typography
/* ---------------- */
@font-face {
    font-family: 'Instrument Regular';
    src: url(../fonts/InstrumentSerif-Regular.ttf);
}

@font-face {
    font-family: 'Instrument Italic';
    src: url(../fonts/InstrumentSerif-Italic.ttf);
}

@font-face {
    font-family: 'DM Sans';
    src: url(../fonts/DMSans-VariableFont_opsz\,wght.ttf);
}


:root {
    color-scheme: light dark;

    --color-panel: light-dark(rgba(16, 15, 15, 0.5), rgba(255, 255, 255, 0.5));
    --color-panel-border: light-dark(rgba(16, 15, 15, 1), rgba(255, 255, 255, 1))
    --color-text-one: light-dark(#fe5035, #fe5035);
    --color-text-two: light-dark(#020202, #efe7d6);
    --color-text-three: light-dark(#efe7d6, #020202);
    --color-text-four: light-dark(#fff, #1e1e1e);
    --color-background-one: light-dark(#efe7d6, #1e1e1e);
    --color-background-two: light-dark(#1e1e1e, #efe7d6);
    --color-skin: light-dark(#fdb998, #fdb998);
    --color-hair: light-dark(#633d23, #633d23);
    --color-eyeball: light-dark(#fff, #fff);
    --color-pupil: light-dark(#472003, #472003);
    --color-lash: light-dark(#281b0d, #281b0d);
    --color-eyebrow: light-dark(#442f23, #442f23);
    --color-clothes: light-dark(#1e1e1e, #efe7d6);
    --color-clothes-two: light-dark(#020202, #fff);
    --color-jewellery-front: light-dark(#fcd638, #fcd638);
    --color-jewellery-back: light-dark(#ba9600, #ba9600);
    --color-flower: light-dark(#fe5035, #fff);
    --color-middle: light-dark(#fcd638, #fcd638);
    --color-stam: light-dark(#30893b, #30893b);
    --color-letter: light-dark(#fe5035, #efe7d6);
}

:root:has([value='light']:checked) {
    color-scheme: light;
}

:root:has([value='dark']:checked) {
    color-scheme: dark;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: var(--color-background-one);
    overflow-x: hidden;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}